.gjs-pn-views-container {
  width: fit-content !important;
}

.gjs-sm-header {
  display: none !important;
}

:root {
  --gjs-primary-color: #fff !important;
  --gjs-main-color: #fff !important;
  --gjs-secondary-color: #444 !important;
  --gjs-main-light-color: #eeeeee !important;
  --gjs-quaternary-color: #6f3fbe !important;
  --gjs-tertiary-color: #fff !important;
  --gjs-font-color: #363942 !important;
}
