/* .gjs-pn-views-container {
  width: fit-content !important;
}

.gjs-sm-header {
  display: none !important;
} */

:root {
  --gjs-primary-color: #fff !important;
  --gjs-main-color: #fff !important;
  --gjs-secondary-color: #363942 !important;
  --gjs-main-light-color: #eeeeee !important;
  --gjs-quaternary-color: #6f3fbe !important;
  --gjs-tertiary-color: #fff !important;
  --gjs-font-color: #363942 !important;
  --gjs-arrow-color: #363942 !important;
  --gjs-secondary-dark-color: hsl(240 4.8% 95.9%) !important;
  --gjs-main-dark-color: hsl(240 4.8% 95.9%) !important;
  --gjs-dark-text-shadow: hsl(60, 81.82%, 43.14%) !important;
  --gjs-main-light-color: rgb(234, 234, 234) !important;
  --gjs-soft-light-color: rgb(200, 200, 200) !important;
}

.gjs-input-holder,
.gjs-field-arrows,
.gjs-sm-field input,
.gjs-sm-field select,
.gjs-clm-select input,
.gjs-clm-field input,
.gjs-clm-select select,
.gjs-clm-field select {
  color: var(--gjs-font-color) !important;
}

.gjs-field {
  @apply !border-border !rounded !border !border-solid !bg-transparent;
}

.gjs-sm-sector-title {
  @apply !bg-secondary !border-b-border;
}
.gjs-sm-sector-title,
.gjs-sm-sector {
  font-weight: 400 !important;
  font-size: 14px;
}

.gjs-sm-field.gjs-sm-stack {
  border: none;
}

.gjs-sm-layers.gjs-field,
.gjs-sm-field.gjs-sm-composite {
  @apply !border-border rounded border border-solid;
}

.gjs-sm-layers.gjs-field {
  margin-top: 0 !important;
}

/* selector manager */

.gjs-clm-tags {
  @apply rounded;
}

.gjs-clm-label-sel {
  float: unset !important;
}

.gjs-clm-tag {
  @apply border-border !bg-secondary border-[0.5px] border-solid !py-1;
}

#gjs-clm-new {
  @apply !w-40 rounded !border-[0.5px] !border-solid;
}

.gjs-sm-sector-title.gjs-sm-sector-title {
  font-weight: 500;
  font-size: 14px;
}
/* radio group */
.gjs-field.gjs-field-radio {
  @apply !rounded-md;
}

.gjs-radio-item:hover {
  background: transparent !important;
}

.gjs-field.gjs-field-radio:hover {
  @apply !rounded-md;
}

.gjs-radio-item:first-child .gjs-radio-item-label {
  @apply !rounded-l-md;
}

.gjs-radio-item:last-child .gjs-radio-item-label {
  @apply !rounded-r-md;
}

.gjs-radio-item input:checked + .gjs-radio-item-label {
  @apply !bg-primary !text-primary-foreground;
}

/* color picker */

.gjs-field-colorp-c,
.gjs-checker-bg {
  background: none !important;
}

.gjs-field-colorp {
  @apply !border-l-border;
}

.gjs-field-color-picker.gjs-field-color-picker {
  @apply border-border right-0 top-1/2 h-4 w-4 -translate-y-1/2 !rounded-full border border-solid;
}

/* layers */
.gjs-layer-title.gjs-layer-title {
  font-weight: 500;
}
