:root {
  --skeleton-l1-bg: hsl(var(--secondary));
  --skeleton-l2-bg: #e4e4e4;
  --blink-color: hsl(var(--secondary) / 1);
}

.dark:root {
  --skeleton-l2-bg: #3f3f3f;
}

.skeletonShine {
  background: linear-gradient(
    110deg,
    var(--skeleton-l1-bg) 8%,
    var(--skeleton-l2-bg) 18%,
    var(--skeleton-l1-bg) 33%
  );

  background-size: 200% 100%;
  animation: 500ms shine linear infinite;
}

.skeletonBlink {
  background-color: var(--blink-color);
  animation: 900ms blink linear infinite;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

@keyframes blink {
  0% {
    opacity: 0.9;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.9;
  }
}
